form {
  display: flex;
  flex-flow: column nowrap;
  max-width: 600px;
  text-align: left;
  margin: 6rem auto;
}

form div {
  display: inherit;
  flex-flow: inherit;
  margin-bottom: 2rem;
}

label {
  margin-bottom: 0.5rem;
}
